<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>RestfulBlogs</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fomantic-ui/2.8.7/semantic.min.css">
    <link rel="stylesheet" href="/app.css">

</head>
<body>
      <div class="ui fixed inverted menu">
        
        <a class="item" href="/">
          <i class="compass icon">
          </i>
          Home
        </a>
        <a class="item" href="/blogs">
          Blogs
        </a>
        <a class="item" href="/blogs/new">
          New
        </a>
      </div>

      <div class="ui container">

      
