@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap');


body {
  background: linear-gradient(
    90deg,
    rgba(153, 153, 255, 1) 0%,
    rgba(51, 255, 0, 1) 100%
  );
  font-family: 'Roboto', sans-serif;
}

.container {
  width: 360px;
  margin: 100px auto 0px;
  -webkit-box-shadow: 3px 3px 21px -8px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 3px 3px 21px -8px rgba(0, 0, 0, 0.75);
  box-shadow: 3px 3px 21px -8px rgba(0, 0, 0, 0.75);
  background: #f7f7f7;
}

h1 {
  background: #2980b9;
  padding: 10px 20px;
  color: white;
  font-weight: normal;
  margin: 0;
  font-size: 24px;
}

h1 > span {
  float: right;
}

input {
  font-size: 18px;
  margin-top: 0;
  width: 100%;
  padding: 13px 13px 13px 20px;
  background-color: #f7f7f7;
  box-sizing: border-box;
  border: 3px solid rgba(0, 0, 0, 0);
}
 input:focus {
   background: #fff;
   outline:none;
   border: 3px solid #2980b9;
 }

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style-type: none;
  height: 40px;
  line-height: 40px;
  background-color: white;
  color: #666;
}

li:nth-child(even) {
  background-color: #f7f7f7;
}


li > span {
  margin-right: 20px;
  text-align: center;
  background: red;
  color: white;
  height: 40px;
  width: 0px;
  display: inline-block;
  transition: 0.2s linear;
  opacity: 0;
}

li:hover span {
  width: 40px;
  opacity: 1;
}

.done {
  text-decoration: line-through;
  color: gray;
}


