body {
  background-color: #232323;
  margin: 0;
}

h1{
    text-align: center;
    margin: 0;
    background: #000;
    color: white;
}

.container {
    width: 60%;
    margin: 0 auto;
}

.square {
    margin: 1.66%;
  width: 30%;
  background: purple;
  padding-bottom: 30%;
  float: left;
}
