@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@500&display=swap');

img {
    width: 30%;
    float: left;
    margin: 1.66%;
}

h1 {

    width: 30%;
    font-family: 'Raleway', sans-serif;
    margin: 1.66%;
    font-weight: 900;
    border-bottom: 1px solid black;
    padding-bottom: 40px;
}