<%- include('partials/header.ejs') %> 


<h1>welcome to camping grounds</h1>
<a href="/campgrounds/new">New Camping Ground</a>
<% campAreas.forEach(element=> { %>

    <div class="card" style="width: 18rem;">
        <img src="<%= element.img %>" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title"><%= element.name %></h5>
        </div>
      </div>


    <% }) %>

    <%- include('partials/footer.ejs') %> 