<h1>welcometo camping grounds</h1>





<% campAreas.forEach(element=> { %>
    <div>
        <h4>
            <%= element.name %> 
        </h4>
        <img src="<%= element.img %>" alt="">
    </div>


    <% }) %>