<%- include('partials/header.ejs') %> 

<form action="/campgrounds" method="POST">
<input type="text" placeholder="New Camp Ground" name="name">
<input type="text" placeholder="New Camp Ground" name="img">
<button>Add New CampGround</button>

</form>
<a href="/campgrounds">Go back</a>

<%- include('partials/footer.ejs') %> 