<%- include('partials/header.ejs') %>

  <form action="/campgrounds" method="POST">
    <div class="form-outline mb-4">
      <input type="text" placeholder="Camp Name" name="name" class="form-control">
    </div>
    <div class="form-outline mb-4">
      <input type="text" placeholder="Camp Image Address" name="img" class="form-control">

    </div>
    <button type="submit" class="btn btn-primary btn-block mb-4">Add New Camp Ground</button>

  </form>
  <a href="/campgrounds">Go back</a>

  <%- include('partials/footer.ejs') %>