<%- include('partials/header.ejs') %>
<h1>Arkadaşlarım</h1>

<ol>
    <% friends.forEach(element=> { %>
        <li>
            <%= element %>
        </li>


        <% }) %>
</ol>

<form action="/addFriend" method="POST">
    <input type="text" name="name">
    <button>Ekle</button>
</form>
<%- include('partials/footer.ejs') %>
